<article class="post">
  <% if @submit.any? %>
    <ul>
    <% @submit.each do |submit| %>
      <li><a href="<%= submit.link %>"><%= submit.text %></a></li>
      <li><a href="/vote/<%= submit.id %>">&uarr;</a>
      <span class="user_info"><%= submit.points %> points by <%= submit.user.username %> <%= submit.created_at.strftime("%d %b") %></span></li>
    <% end %>
  </ul>
</div>
  <% else %>
    <p>No Post</p>
  <% end %>
</article>
